<h3 class="subtitulo">contactanos!</h3>
<p class="desarrolloInfo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sit vitae totam aliquid impedit ullam dolorem provident quas, iure nihil, dolores autem nulla eum asperiores doloremque cum sunt necessitatibus omnis possimus cupiditate praesentium doloribus! Eveniet odio ducimus cumque in nobis sequi qui veniam quaerat dignissimos, illo possimus excepturi iste autem provident tempore recusandae necessitatibus culpa, aperiam impedit facere minima atque quo, dolor minus. Dolorem obcaecati distinctio facere nihil harum magni voluptatibus totam suscipit, officiis eius ratione temporibus voluptate facilis eos!</p>

<section>
    <h3 class="subtitulo">dejanos un comentario!</h3>
    <app-send-comment></app-send-comment>
    <app-comments></app-comments>
</section>
