.desarrolloInfo{
    text-align: justify;
    margin-left: 3vh;
    margin-right: 3vh;
}
.desarrolloInfo h1{
    margin-bottom: 2vh;
    color: #4b2c41;
    font-size: 2.5vh;
}
.desarrolloInfo h2{
    margin-bottom: 4vh;
    font-size: 2vh;
    text-align: justify;
}
.subtitulo{
    margin-left: 1vh;
    font-size: 4vh;
    color: midnightblue;
    text-align: left;
    text-transform: capitalize;
}