.envios{
    background-color: #f3f0f0;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
}
.contenedor-envio{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.detalleEnvio h3{
    text-align: center;
    font-weight: 150;
    color: #4b2c41;
    margin-bottom: 15px;
    margin-top: 20px;
    font-size: 20px;
}
.info-envio{
    margin-left: auto;
    margin-right: auto;
    padding: 0.5vh;
}
.info-envio p{
    font-size: 2.3vh;
    margin-left: 1vh;
    margin-right: 1vh;
}
.info-envio ol li{
    justify-content: center;
    text-align: justify;
    list-style: inside;
    padding: 1vh;
    font-size: 2.2vh;
}
.info-envio ol{
    margin-bottom: 1vh;
}
.detalleEnvio p{
    text-align: justify;
    margin-bottom: 2.3vh;
}
.imagenEnvio{
    margin: 2vh;
    width: 70vh;
}
.imagenEnvio img{
    margin-bottom: -2vh;
}

/* Horarios */

.horario{
    margin: auto;
}
.contenedor-lista{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.dias li{
    width: 80%;
    font-style: bold;
    font-size: 2.4vh;
    padding: 5px;
    padding-top: 10px;
    list-style: square;
}
.dias p{
    font-size: 2.3vh;
    padding-bottom: 10px;
    font-style: italic;
}
.imagenHorario img{
    width: 100%;
    margin-bottom: 0vh;
}